/*main.css - Cascading Style Sheets File for index.html
Created 6th August 2024 */
body{
    margin-left: auto;
    margin-right: auto;
    max-width: 70em;
    height: 100vh;
}
/*Main header on main page (index.html */
.h-background{
    background: url("/img/20240829_140319.jpg") no-repeat center center;
    background-size: cover;
    height: 800px;
    padding-top: 1px;
}
.h-background > h1{
    position: relative;
    top: 45%;
    color: rgb(239, 240, 236);
    font-size: 40px;
    text-align: center;
    text-shadow: rgb(1, 8, 1) 5px 0 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}
.h-background > h2{
    position: relative;
    top: 45%;
    color: rgb(239, 240, 236);
    font-size: 20px;
    text-align: center;
    text-shadow: rgb(1, 8, 1) 5px 0 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:lighter;
    text-transform: uppercase;
}
.h-background > h2:nth-child(3){
    top: 55%;
    text-decoration:underline;
}
/*Main Header*/
.header-background{
    background: linear-gradient(90deg, rgb(186, 240, 173) 8%, rgba(30,168,3,1) 38%, rgba(20,152,2,1) 75%, rgb(8, 107, 1) 99%);
    padding-top: 10px;
    padding-bottom: 10px;   
}
#main-header{
    color: rgb(239, 240, 236);
    font-size: 40px;
    text-align: center;
    text-shadow: rgb(1, 8, 1) 5px 0 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}
.header-background h2{
    font-size: 30px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    /*Background properties*/
    margin-inline: 8em;
    border-radius: 4em;
    background: wheat;
}
/*About Header*/
#about-header{
    color: rgb(4, 137, 6);
    font-size: 30px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    margin-inline: auto;
    border-radius: 40px;
    text-transform:uppercase;
}
#txt-1{
    color: rgb(56, 50, 50);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-weight:bold;
    padding: 1em;
    margin-inline: 3em;
    border-radius: 15px;
}
#ching-img-container{
    background: rgb(247, 247, 165);
    padding: 3em;
    border: 4px ridge #000000;
    text-align: center;
    font-family:Segoe UI;
    text-align: center;
    padding-bottom: 1em;
    margin-inline: 2em;
}
#ching-img-container > a{
    padding-inline: 1em;
}
#copyright{
    background-color: black;
    color: white;
    font-size: 16px;
    font-family:Segoe UI;
    text-align: center;
    font-weight:500;
    padding: 3%;
}
/*Headers and text ↑ */
/*Random fact selector */
#fact-box{
    background: linear-gradient(90deg, rgb(227, 224, 206) 1%, rgb(244, 218, 76) 35%, rgb(244, 231, 3) 57%, rgb(241, 253, 2) 80%);
    text-align: center;
    margin-inline: 10em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    border-radius: 1em;
    border: 3px ridge #060804;
    top: 55%;
    position: relative;
}
/*Images */
.img-container{
    text-align: center;
    display: block;
}
.img-container img{
    display: flexbox;
    margin-inline: 10px;  
    border: 5px ridge #05a532;
    width: auto;       
}
#txt-1 img{
    float: left;
    padding-inline: 2em;
    padding-bottom: 2em;
}
/* Buttons in about me */
/*Buttons*/
.button-group{
    padding: 3px;   
    text-align: center;  
}
.contents {
    display: inline;
    padding-right: 30px;
}
.facebook {
    text-align: center;
    background-color: blue;
}
.linkedin{
    text-align: center;
    background-color: rgb(32, 79, 249);
}
.github{
    text-align: center;
    background-color: rgb(0, 3, 12);
}
.button-txt{
    color:white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}
#img{
    margin-top: 30px;
}
/*Tables*/
#table-1{
    background-color: rgb(3, 71, 18);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px;
    padding: 10px;
}
#table-1, th, td{
    border: 2px solid;
    padding-inline: 10px;
    border-radius: 5px;
    font-size: 20px;  
}
#table-1 th{
    background-color: yellow;
    text-align: left;
}
#table-1 td{
    background-color: white;
}
/*Age button */
.button-container{
    text-align: center;
}
#fact-header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
#age-button{
    background: linear-gradient(0deg, rgba(6,135,3,1) 18%, rgba(29,177,3,1) 42%, rgba(20,181,4,1) 66%, rgba(121,249,14,1) 99%);
    color: white;
    padding: 1em;
    border-radius: 1em;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px ridge #3da505;
    text-transform: uppercase;
}
#age-contents{
    background-color: white;
    margin-inline: 8em;
    border-radius: 1em;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
#age-message{
    background-color: yellow;
    margin-inline: 5em;
    padding: 1em;
    border: 3px ridge #030800;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
/*New Nav menu*/
#content-background{
    background-color: rgb(13, 72, 1);
    padding: 0.3em;
}
#content-menu{
    display: flex;
    justify-content: space-evenly;
    padding: 0 12%;
}
#content-menu > li{
    list-style: none;
    padding: 1em;
    background: linear-gradient(0deg, rgba(6,135,3,1) 18%, rgba(29,177,3,1) 42%, rgba(20,181,4,1) 66%, rgba(121,249,14,1) 99%);
    border: 5px ridge #3da505;
    border-radius: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    position: relative;
    font-size: 1.2em;
}
#content-menu > li > ul{
    display: none;
    position: absolute;
    top: 108%; /* Positions the ul below the li */
    /*Left at 0 means contents are aligned with left of buttons*/
    left: 0;
    padding-bottom: 2em;
    background-color: white;
    border-radius: 4px;
    border: 3px ridge #020600;
}
#content-menu > li > ul > li{  
    background-color: white;
    color: #030800;
    list-style: circle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 2em;
    padding-top: 1em; 
    font-size: 15px;
    a{
        text-decoration: none;
        color: black;
    }
}
/*When Contents and Extras are hovered over contents are viewed */
#content-menu > li:hover > ul{
    display: block;
}
/*Button background*/
#content-menu > button{
    padding: 1em;
    background: linear-gradient(0deg, rgba(6,135,3,1) 18%, rgba(29,177,3,1) 42%, rgba(20,181,4,1) 66%, rgba(121,249,14,1) 99%);
    border: 5px ridge #3da505;
    border-radius: 10px;   
    a{
        color: white;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 19px;
    } 
}
/*Content buttons turn yellow when hovered over*/
#content-menu > li:hover, 
#content-menu > button:hover{
    background: linear-gradient(0deg, rgb(228, 240, 6) 18%, rgb(250, 226, 8) 42%, rgb(255, 238, 0) 66%, rgb(242, 237, 103) 99%);
    transition: all 0.5 ease;
    color: black;
    /*About me text turns black*/
    a{
        color: #020600;
    }
}



