/*seedlings2.css - Cascading Style Sheets File for seedlings2.html
Created 6th August 2024 */
body{
    background: linear-gradient(0deg, #d1ffbd 0%, #ffffff 100%);
    border: 4px ridge #a4e481; 
}
#main-header{
    color: rgb(7, 10, 0);
    font-size: 50px;
    text-align: center;
    text-shadow: rgb(3, 122, 3) 1px 0 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    }
    #about-header{
    color: rgb(0, 4, 7);
    font-size: 23px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: dashed;
    }
    #txt-1{
    color: rgb(9, 0, 0);
    font-size: 16px;
    font-family:Segoe UI;
    text-align: center;
    font-weight:500;
    }
/*Headers and text ↑ */
/*Images ↓ */
.img-container{
    text-align: center;
    display: block;
}